/* Todas as páginas */
* {
	background: white;
	padding: 0px;
	margin: 0px;
	width: auto;
}

body{
	width: auto;
	margin-left: 80px;
	margin-right: 80px;
}

/* Menu */
nav{
	width: auto;
	margin-left: 120px;
	margin-right: 45px;
	overflow: hidden;
	text-align: center;
	background: black;
	height: 60px;
}

nav ul{
	list-style: none;
	display: inline-block;
	background: black;
}

nav ul li{
	display: inline-block;
	padding: 10px;
	background: black;
	margin-top: 10px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	background: black;
	font-family: arial;
	font-size: 18px;
}

nav ul li a:hover{
	color: yellow;
}

/* Fim Menu */

header{
	max-width: 2500px;;

}

header img{
	width:86.2%;
	height: auto;
	max-width: 100%;
	margin-left: 120px;
	margin-right: 100px;
}

section{
	border: 1px grey outset;
	width: auto;
	height: auto;
	margin: 120px;
	padding: 50px;
}

h1{
	font-size: 40px;
	color: black;
	font-family: arial;
	align: center;
	margin-top: 30px;
}

h2{
	margin-top: 30px;
	margin-left: 30px;
	font-family: arial;
	align: center;
	color: black;
}

.cont{
	margin-top: 30px;
	margin-left: 10px;
	font-family: arial;
	align: center;
	color: black;
}

hr{
	background-color: grey;
	width: auto;
	max-width: 100%;
	border: outset 1px grey;
}

p{
	font-size: 20px;
	color: grey;
	font-family: georgia;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

/* Página de Contato */

form{
	margin-top: 120px;
}
fieldset {
    border: 0;
		width: 400px;
		margin-right: 120px;
		float: right;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: grey;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}


.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}

.end{
	margin-left: -10px;
}

.contatos{
	margin-left: -50px;
}

/* Fim da página de contato */

/* footer */

footer{
	background: black;
	width: auto;
	display: block;
}

footer p{
	background: black;
	color: white;
}

.contato{
	position: relative;
	margin-top: 500px;
}
